<html>
    <head>
        <title>Login Form Test</title>
    </head>
    <body>
        <form method="POST"
action="http://community.dur.ac.uk/cs.seg04/Wastetopia/Wastetopia/tests/login_page/login.php">
            <label for="username">Email Address</label>
            <input id="username" type="text" name="username" placeholder="email"/>
            <label for="password">Password</label>
            <input id="password" type="password" name="password"/>
            <button type="submit">Login</button>
        </form>
    </body>
</html>
