<div id="message-location">
    {% for message in messages %}
        <div class="{% if message.sender == 1 %}sender{% else %}reciever">
            <div class="content">
                {{message.content}}
            </div>
            <div class="time-stamp">
                {{message.timeStamp}}
            </div>
        </div>
    {% endfor %}
</div>