{% extends 'header.twig' %}

{% block title %}
    Error 403 | Wastetopia
{% endblock %}

{% block navbar %}
    {% include 'navbar.twig' %}
{% endblock %}

{% block content %}
<h1>I'm sorry, but you aren't allowed to access this.</h1>
{% endblock %}