<!DOCTYPE html>
<html style="height: 100vh;">
<head>
  <meta charset="utf-8">
  <title>Main Page | Wastetopia</title>
  <!-- Material Design fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- Bootstrap Material Design -->
  <link href="bootstrap-material-design-master/dist/css/bootstrap-material-design.css" rel="stylesheet">
  <link href="bootstrap-material-design-master/dist/css/ripples.min.css" rel="stylesheet">
  <link href="http://fezvrasta.github.io/snackbarjs/dist/snackbar.min.css" rel="stylesheet">

  <!-- Wastopia Custom CSS -->
  <link rel="stylesheet" href="wastetopia-main.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="height: 100vh;">
  <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand hidden-xs" href="javascript:void(0)">Wastetopia</a>
        <a class="navbar-brand visible-xs" href="javascript:void(0)">WT</a>
        <form class="search-form navbar-left">
          <div class="search-group">
            <div class="search">
              <input type="text" placeholder="Search">
            </div>
            <button type="submit" value="Submit" class="btn-search">
              <i class="material-icons">search</i>
            </button>
          </div>
          <div class="postcode">
            <input type="text" placeholder="Postcode">
          </div>
        </form>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-envelope"/></a></li>
          <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-shopping-cart"/></a></li>
          <li class="dropdown">
            <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"/><span class="caret"/></a>
            <ul class="dropdown-menu">
              <li><a href="#">View Profile</a></li>
              <li><a href="#">Order History</a></li>
              <li><a href="#">Supplies</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-padding">
    <div class="container-fluid">
      <div class="jumbotron" >
        <h1>Welcome to <span>Wastetopia</span></h1>

        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>

        <p>
          <a class="btn btn-lg">Login</a>
          <a class="btn btn-primary btn-lg">Register now</a>
        </p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <form class="main-search-form">
          <div class="normal-search">
            <div class="form-group search col-xs-12 col-sm-8">
              <label class="control-label" for="search">Search term</label>
              <input class="form-control" id="search" type="text">
            </div>
            <div class="form-group postcode col-xs-12 col-sm-4">
              <label class="control-label" for="postcode">Postcode</label>
              <input class="form-control" id="postcode" type="text">
            </div>
          </div>
          <button type="submit" value="Submit" class="btn btn-search">
            <i class="material-icons">search</i> SEARCH
          </button>
          <div class="advance-search">
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="bootstrap-material-design-master/dist/js/ripples.min.js"></script>
  <script src="bootstrap-material-design-master/dist/js/material.min.js"></script>
  <script>
    $(function () {
      $.material.init();
    });
  </script>
</body>
</html>
