<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>WasteTopia - ItemEdit</title>
  <!-- Material Design fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!-- Bootstrap Material Design -->
  <link href="bootstrap-material-design-master/dist/css/bootstrap-material-design.css" rel="stylesheet">
  <link href="bootstrap-material-design-master/dist/css/ripples.min.css" rel="stylesheet">
  <link href="http://fezvrasta.github.io/snackbarjs/dist/snackbar.min.css" rel="stylesheet">

  <!-- Wastopia Custom CSS -->
  <link rel="stylesheet" href="wastetopia-main.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)">Wastetopia</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control col-sm-8" placeholder="Search">
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-envelope"/></a></li>
          <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-shopping-cart"/></a></li>
          <li class="dropdown">
            <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"/><span class="caret"/></a>
            <ul class="dropdown-menu">
              <li><a href="#">View Profile</a></li>
              <li><a href="#">Order History</a></li>
              <li><a href="#">Supplies</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="grid-body" style="padding-top: 60px;">
    <div class="container-fluid">
      <div class="row">
        <form>
          <legend></legend>
          <legend></legend>
          <fieldset>
            <div class="col-sm-12 zero-padding">
              <div class="item-imgs-section">
                <div class="gridTitle">
                  Upload item images here
                </div>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-4 col-sm-2 zero-padding">
                      <div class="row-action-primary img-checkbox">
                        <label><input type="checkbox"></label>
                      </div>
                      <div data-mh="my-group" class="upload-pic">
                        <img src="food.jpg" alt="Chania">
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-2 zero-padding">
                      <div class="row-action-primary checkbox img-checkbox">
                        <label><input type="checkbox"></label>
                      </div>
                      <div data-mh="my-group" class="upload-pic">
                        <img src="food1.jpg" alt="Chania">
                      </div>
                    </div>
                    <div class="col-xs-4 col-sm-2 zero-padding">
                      <div class="form-group zero-padding">
                        <div data-mh="my-group" class="upload-pic">
                          <div class="img-box">
                            <i class="material-icons">add</i>
                          </div>
                        </div>
                        <input type="file" id="upload" multiple="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="options">
                  <button type="button" id="deleteBtn" class="btn-delete">
                    <i class="material-icons">delete</i>
                  </button>
                </div>
              </div>  
            </div>
            <div class="col-sm-12 zero-padding">
              <div class="item-details-section">
                <div class="container-fluid">
                  <div class="form-group some-padding">
                    <label for="itemName" class="col-md-2 control-label">Item Name </label>

                    <div class="col-md-10">
                      <input type="text" class="form-control" id="itemName" placeholder="e.g. oranges">
                    </div>
                  </div>
                  <div class="form-group some-padding">
                    <label for="type" class="col-md-3 control-label">Type </label>

                    <div class="col-md-9">
                      <select id="type" class="form-control">
                        <option>Fruit</option>
                        <option>Vegetable</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group some-padding" style="margin-left: 10px;">
                    <label for="quantity" class="col-md-4 control-label">Quantity </label>

                    <div class="col-md-8">
                      <input type="text" class="form-control" id="quantity" placeholder="e.g. 5">
                    </div>
                  </div>
                  <div class="form-group some-padding">
                    <label for="useDate" class="col-md-2 control-label">Use-By Date </label>

                    <div class="col-md-10">
                      <input type="text" class="form-control" id="useDate" placeholder="eg. 2/2/2017">
                    </div>
                  </div>
                  <div class="form-group some-padding">
                    <label for="textArea" class="control-label">Enter Discription :</label>

                    <div class="col-md-12">
                      <textarea class="form-control" rows="3" id="textArea"></textarea>
                      <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-xs-12 col-sm-6 zero-padding">
             <div id="item-map-section"></div>
             <script src="map.js"></script>

             <script async defer
             src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrh2cKWRAFifeLIkznE2Iw4Oblqlmyyt0&callback=initMap">
           </script>
         </div>
         <div class="col-xs-12 col-sm-6 zero-padding">
          <div class="item-address-section">
           <div class="form-group">
            <label for="inputLocation" class="col-md-2 control-label">Adress</label>

            <div class="col-md-10">
              <input type="text" class="form-control" id="inputLocation1" placeholder="Location : eg.4 The Sidings">
              <input type="text" class="form-control" id="inputLocation2" placeholder="PostCode : eg.dh1 1hs">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 zero-padding">
        <div class="item-btns-section">
          <div class="form-group zero-padding">
            <div class="btns">
              <button type="button" class="btn btn-default">Cancel</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>

      </div>
    </fieldset>
  </form>
</div>
</div>
</div>



<script src="bootstrap-material-design-master/dist/js/ripples.min.js"></script>
<script src="bootstrap-material-design-master/dist/js/material.min.js"></script>

<!-- script for having equal height rows -->
<script src="jquery-match-height/jquery.matchHeight.js" type="text/javascript"></script>

<script>
  $(function () {
    $.material.init();
    $('.upload-pic').matchHeight();
  });
</script>

</body>
</html>
