<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>item page</title>
  <!-- Material Design fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- Bootstrap Material Design -->
  <link href="https://wastetopia-pr-25.herokuapp.com/css/bootstrap-material-design-master/dist/css/bootstrap-material-design.css" rel="stylesheet">
  <link href="https://wastetopia-pr-25.herokuapp.com/css/bootstrap-material-design-master/dist/css/ripples.min.css" rel="stylesheet">
  <link href="http://fezvrasta.github.io/snackbarjs/dist/snackbar.min.css" rel="stylesheet">

  <!-- Wastopia Custom CSS -->
  <link rel="stylesheet" href="https://wastetopia-pr-25.herokuapp.com/css/wastetopia-main.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
   <div class="container-fluid">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="javascript:void(0)">Wastetopia</a>
     </div>
     <div class="navbar-collapse collapse navbar-responsive-collapse">
       <form class="navbar-form navbar-left">
         <div class="form-group">
          <input type="text" class="form-control col-sm-8" placeholder="Search">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
       <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-envelope"/></a></li>
       <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-shopping-cart"/></a></li>
       <li class="dropdown">
         <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"/><span class="caret"/></a>
         <ul class="dropdown-menu">
           <li><a href="#">View Profile</a></li>
           <li><a href="#">Order History</a></li>
           <li><a href="#">Supplies</a></li>
           <li><a href="#">Logout</a></li>
         </ul>
       </li>
     </ul>
   </div>
 </div>
</nav>
<div class="grid-body" style="padding-top: 60px;">
  <div class="container-fluid">
   <div class="row">
<div class="col-sm-12 col-md-12 zero-padding">
 <div id="map"></div>
 <script src="https://wastetopia-pr-25.herokuapp.com/js/mapSearch.js"></script>
 <script src="https://wastetopia-pr-25.herokuapp.com/js/plugins/MarkerClusterer/markerclusterer.js"></script>
 <script async defer
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZar0yeRde_fbzzUM1laLKsQezQgwAO7U&callback=initMap">
</script>
</div>
<div class="col-sm-12 col-md-12 zero-padding">
</div>
</div>
</div>
</div>


</body>
