<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>item page</title>
  <!-- Material Design fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- Bootstrap Material Design -->
  <link href="bootstrap-material-design-master/dist/css/bootstrap-material-design.css" rel="stylesheet">
  <link href="bootstrap-material-design-master/dist/css/ripples.min.css" rel="stylesheet">
  <link href="http://fezvrasta.github.io/snackbarjs/dist/snackbar.min.css" rel="stylesheet">

  <!-- Wastopia Custom CSS -->
  <link rel="stylesheet" href="wastetopia-main.css"/>
  <link href="startbootstrap-simple-sidebar-gh-pages/css/simple-sidebar.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)">Wastetopia</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control col-sm-8" placeholder="Search">
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-envelope"/></a></li>
          <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-shopping-cart"/></a></li>
          <li class="dropdown">
            <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"/><span class="caret"/></a>
            <ul class="dropdown-menu">
              <li><a href="#">View Profile</a></li>
              <li><a href="#">Order History</a></li>
              <li><a href="#">Supplies</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="item-view" class="page-height page-padding">
    <div class="item-header">
      <div>
        <h1>Sweet Potatoes</h1>
        <div class="item-subTitle">
          vegetarian, vegan, gluten-free, lactose-free
        </div>
      </div>
      <div class="nav-btns">
        <a href="#request" class="btn btn-primary" role="button">Request</a>
        <div class = "dropdown btn-watch">
          <a data-target="#"class="dropdown-toggle" data-toggle="dropdown"><i class="material-icons">more_vert</i></a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#upload-picture" id = "upload-picture">Edit Item</a></li>
            <li><a href="#change-password" id = "change-password">Delete Item</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="view-wrapper">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="item-details col-md-12">
            <div class="item-description">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 zero-padding">
                    <span class="info">Type: </span>fruit
                  </div>
                  <div class="col-xs-12 col-sm-6 zero-padding">
                    <span class="info">State: </span>fresh, unused
                  </div>
                  <div class="col-xs-12 col-sm-6 zero-padding">
                    <span class="info">Quantity: </span>1
                  </div>
                  <div class="col-xs-12 col-sm-6 zero-padding">
                    <span class="info">Expiry date: </span>25/11/2019
                  </div>
                  <div class="col-xs-12 col-sm-6 zero-padding">
                    <span class="info">Pick up location: </span>London, UK
                  </div>
                  <div class="col-xs-12 col-sm-6 zero-padding">
                    <span class="info">May contains: </span>milk, wheat, sea-shells
                  </div>
                  <div class="col-sm-12 zero-padding">
                    <span class="info">Description:</span>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dapibus eu lorem sit amet posuere. Maecenas tempor, lectus quis feugiat accumsan, nunc tortor faucibus lectus, ac vestibulum metus eros ut turpis. Suspendisse vitae est urna. Proin ullamcorper neque magna, ut tempor urna lacinia at. Curabitur mollis commodo eros, vitae tristique justo ultrices sed. Nulla facilisi. Mauris erat orci, porttitor mattis interdum eget.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item-imgs col-sm-12 col-md-6">
            <div class="grid">
              <div class="grid-item is-expanded">
                <div class="grid-item-content">
                  <div class="item-img" style="background:url(food1.jpg)"></div>
                </div>
              </div>
              <div class="grid-item">
                <div class="grid-item-content">
                  <div class="item-img" style="background:url(food2.jpg)"></div>
                </div>
              </div>
              <div class="grid-item">
                <div class="grid-item-content">
                  <div class="item-img" style="background:url(food.jpg)"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="item-user col-sm-12 col-md-6">
            <div class="item-wrapper">
              <div>
                <div class="phrase">
                  This item was offered by
                </div>
                <div class="user">
                  <div class="user-image item-img" style="background:url(food.jpg)"></div>
                  <div class="user-name">
                    Mark Smith
                  </div>
                  <div class="popularity white">
                    <i class="material-icons white">grade</i> 6.0
                  </div>
                </div>
              </div>
              <a href="#" class="btn btn-default btn-raised btn-offers">Check more offers <i class="material-icons">chevron_right</i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="plugins/isotope-docs/isotope.pkgd.js"></script>
  <script>
  var $grid;
  $(function(){

    function setPadding(){
      var height = $('.item-header').height() + 50
      $('#item-view').css({'padding-top': height})
    }

    setPadding()

    $(window).on('resize', function(){
      setPadding();
    })

    $grid = $('.grid').isotope({
      itemSelector: '.grid-item',
      masonry: {
        columnWidth: 80
      }
    });

    $grid.on( 'click', '.grid-item-content', function() {
      $( this ).parent('.grid-item').toggleClass('is-expanded');
      $(this).parent('.grid-item').siblings().removeClass('is-expanded')
      $grid.isotope('layout');
    });

  })
  </script>
</body>
