<!DOCTYPE html>
<html style="height: 100vh;">
<head>
  <meta charset="utf-8">
  <title>Profile</title>
  <!-- Material Design fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!-- Bootstrap Material Design -->
  <link href="bootstrap-material-design-master/dist/css/bootstrap-material-design.css" rel="stylesheet">
  <link href="bootstrap-material-design-master/dist/css/ripples.min.css" rel="stylesheet">
  <link href="http://fezvrasta.github.io/snackbarjs/dist/snackbar.min.css" rel="stylesheet">

  <!-- Wastopia Custom CSS -->
  <link rel="stylesheet" href="wastetopia-main.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="height: 100vh;">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)">Wastetopia</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control col-sm-8" placeholder="Search">
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-envelope"/></a></li>
          <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-shopping-cart"/></a></li>
          <li class="dropdown">
            <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"/><span class="caret"/></a>
            <ul class="dropdown-menu">
              <li><a href="#">View Profile</a></li>
              <li><a href="#">Order History</a></li>
              <li><a href="#">Supplies</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-height" style="padding-top:230px;">
    <div class="user-profile jumbotron">
      <div class="user-img"></div>
      <div class="user-details">
        <div class="user-name">
          Mark Smith
        </div>
        <div class="popularity">
          <i class="material-icons">grade</i> 6.0
        </div>
      </div>
      <div>
        <a href="#" class="btn btn-primary" style="margin-bottom:0;" role="button">Follow</a>
        <a href="#" class="btn btn-default" style="margin-bottom:0;" role="button">Report</a>
      </div>
    </div>
    <div class="tab-content user-stats zero-padding" style="padding-top:10px; background-color:transparent;">
      <div id="home" class="tab-pane fade in active">
        <div class="container-fluid">
          <div class="row">
            <a class="col-sm-4 col-xs-12" role="button" data-toggle="tab" href="#offers">
              <div class="tile">
                <div class="stat">
                  <div class="count">179</div>
                  <h4 class="zero-padding">Items offered</h4>
                </div>
                <div class="icon">
                  <i class="material-icons">chevron_right</i>
                </div>
              </div>
            </a>
            <a class="col-sm-4 col-xs-12" role="button" data-toggle="tab" href="#requests">
              <div class="tile">
                <div class="stat">
                  <div class="count">179</div>
                  <h4 class="zero-padding">Requests Made</h4>
                </div>
                <div class="icon">
                  <i class="material-icons">chevron_right</i>
                </div>
              </div>
            </a>
            <a class="col-sm-4 col-xs-12" role="button" data-toggle="tab" href="#watchList">
              <div class="tile">
                <div class="stat">
                  <div class="count">179</div>
                  <h4 class="zero-padding">Items in WatchList</h4>
                </div>
                <div class="icon">
                  <i class="material-icons">chevron_right</i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div id="offers" class="tab-pane fade">
        <div class="title">
          <a role="button" data-toggle="tab"  href="#home"><i class="material-icons">chevron_left</i></a>OFFERS
        </div>
        <div class="container-fluid">
          <div class="grid">
            <!-- need this for mosonry layout to work properly with bootstrap grid system -->
            <div class="grid-sizer col-xs-12 col-sm-6 col-md-4"></div>
            <div class="grid-item col-xs-12 col-sm-6 col-md-4">
              <div class="grid-item-content">
                <div class="thumbnail zero-padding">
                  <img src="food2.jpg" style="border-color: lightgrey;" />
                  <div class="caption">
                    <h3>item name write here for offers</h3>
                    <div class="nav-btns">
                      <a href="#" class="btn btn-primary" role="button">View</a>
                      <a href="#" class="btn btn-default" role="button">Edit</a>
                      <a href="#" role="button" class="btn-watch"><i class="material-icons">delete</i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item col-xs-12 col-sm-6 col-md-4">
              <div class="grid-item-content">
                <div class="thumbnail zero-padding">
                  <img src="food1.jpg" style="border-color: lightgrey;" />
                  <div class="caption">
                    <h3>item name write here for offers</h3>
                    <div class="nav-btns">
                      <a href="#" class="btn btn-primary" role="button">View</a>
                      <a href="#" class="btn btn-default" role="button">Edit</a>
                      <a href="#" role="button" class="btn-watch"><i class="material-icons">delete</i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item col-xs-12 col-sm-6 col-md-4">
              <div class="grid-item-content">
                <div class="thumbnail zero-padding">
                  <img src="food2.jpg" style="border-color: lightgrey;" />
                  <div class="caption">
                    <h3>item name write here for offers</h3>
                    <div class="nav-btns">
                      <a href="#" class="btn btn-primary" role="button">View</a>
                      <a href="#" class="btn btn-default" role="button">Edit</a>
                      <a href="#" role="button" class="btn-watch"><i class="material-icons">delete</i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item col-xs-12 col-sm-6 col-md-4">
              <div class="grid-item-content">
                <div class="thumbnail zero-padding">
                  <img src="food.jpg" style="border-color: lightgrey;" />
                  <div class="caption">
                    <h3>item name write here for offers</h3>
                    <div class="nav-btns">
                      <a href="#" class="btn btn-primary" role="button">View</a>
                      <a href="#" class="btn btn-default" role="button">Edit</a>
                      <a href="#" role="button" class="btn-watch"><i class="material-icons">delete</i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item col-xs-12 col-sm-6 col-md-4">
              <div class="grid-item-content">
                <div class="thumbnail zero-padding">
                  <img src="food1.jpg" style="border-color: lightgrey;" />
                  <div class="caption">
                    <h3>item name write here for offers</h3>
                    <div class="nav-btns">
                      <a href="#" class="btn btn-primary" role="button">View</a>
                      <a href="#" class="btn btn-default" role="button">Edit</a>
                      <a href="#" role="button" class="btn-watch"><i class="material-icons">delete</i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item col-xs-12 col-sm-6 col-md-4">
              <div class="grid-item-content">
                <div class="thumbnail zero-padding">
                  <img src="food.jpg" style="border-color: lightgrey;" />
                  <div class="caption">
                    <h3>item name write here for offers</h3>
                    <div class="nav-btns">
                      <a href="#" class="btn btn-primary" role="button">View</a>
                      <a href="#" class="btn btn-default" role="button">Edit</a>
                      <a href="#" role="button" class="btn-watch"><i class="material-icons">delete</i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="requests" class="tab-pane fade">
        <div class="title">
          <a role="button" data-toggle="tab"  href="#home"><i class="material-icons">chevron_left</i></a>REQUESTS
        </div>
        <div class="container-fluid">
          <div class="grid">
            <!-- need this for mosonry layout to work properly with bootstrap grid system -->
            <div class="grid-sizer col-xs-12 col-sm-6 col-md-4"></div>
            <div class="grid-item col-xs-12 col-sm-6 col-md-4">
              <div class="thumbnail zero-padding">
                <div class="caption">
                  <div class="centerAll">
                    <img src="flowery.jpg" class="user-image"/>
                    <div class="user-details">
                      <div class="user-name">
                        Mark Smith
                      </div>
                      <div class="added-date">
                        12 December, 2017
                      </div>
                    </div>
                    <div class="road-distance">
                      <i class="material-icons">place</i> 250m
                    </div>
                  </div>
                </div>
                <img src="food2.jpg" style="border-color: lightgrey;" />
                <div class="caption">
                  <h3>item name write here for requests</h3>
                  <div class="nav-btns">
                    <a href="#" class="btn btn-primary" role="button">View</a>
                    <a href="#" class="btn btn-default" role="button">Cancel</a>
                    <a href="#" role="button" class="btn-watch" id="delete"><i class="material-icons">delete</i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item col-xs-12 col-sm-6 col-md-4">
              <div class="thumbnail zero-padding">
                <div class="caption">
                  <div class="centerAll">
                    <img src="flowery.jpg" class="user-image"/>
                    <div class="user-details">
                      <div class="user-name">
                        Mark Smith
                      </div>
                      <div class="added-date">
                        12 December, 2017
                      </div>
                    </div>
                    <div class="road-distance">
                      <i class="material-icons">place</i> 250m
                    </div>
                  </div>
                </div>
                <img src="food2.jpg" style="border-color: lightgrey;" />
                <div class="caption">
                  <h3>item name write here for requests</h3>
                  <div class="nav-btns">
                    <a href="#" class="btn btn-primary" role="button">View</a>
                    <a href="#" class="btn btn-default" role="button">Cancel</a>
                    <a href="#" role="button" class="btn-watch" id="delete"><i class="material-icons">delete</i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item col-xs-12 col-sm-6 col-md-4">
              <div class="thumbnail zero-padding">
                <div class="caption">
                  <div class="centerAll">
                    <img src="flowery.jpg" class="user-image"/>
                    <div class="user-details">
                      <div class="user-name">
                        Mark Smith
                      </div>
                      <div class="added-date">
                        12 December, 2017
                      </div>
                    </div>
                    <div class="road-distance">
                      <i class="material-icons">place</i> 250m
                    </div>
                  </div>
                </div>
                <img src="food2.jpg" style="border-color: lightgrey;" />
                <div class="caption">
                  <h3>item name write here for requests</h3>
                  <div class="nav-btns">
                    <a href="#" class="btn btn-primary" role="button">View</a>
                    <a href="#" class="btn btn-default" role="button">Cancel</a>
                    <a href="#" role="button" class="btn-watch" id="delete"><i class="material-icons">delete</i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item col-xs-12 col-sm-6 col-md-4">
              <div class="thumbnail zero-padding">
                <div class="caption">
                  <div class="centerAll">
                    <img src="flowery.jpg" class="user-image"/>
                    <div class="user-details">
                      <div class="user-name">
                        Mark Smith
                      </div>
                      <div class="added-date">
                        12 December, 2017
                      </div>
                    </div>
                    <div class="road-distance">
                      <i class="material-icons">place</i> 250m
                    </div>
                  </div>
                </div>
                <img src="food2.jpg" style="border-color: lightgrey;" />
                <div class="caption">
                  <h3>item name write here for requests</h3>
                  <div class="nav-btns">
                    <a href="#" class="btn btn-primary" role="button">View</a>
                    <a href="#" class="btn btn-default" role="button">Cancel</a>
                    <a href="#" role="button" class="btn-watch" id="delete"><i class="material-icons">delete</i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="watchList" class="tab-pane fade">
        <div class="title">
          <a role="button" data-toggle="tab"  href="#home"><i class="material-icons">chevron_left</i></a>WATCHLIST
        </div>
        <div class="container-fluid">
          <div class="grid">
            <!-- need this for mosonry layout to work properly with bootstrap grid system -->
            <div class="grid-sizer col-xs-12 col-sm-6 col-md-4"></div>
            <div class="grid-item col-xs-12 col-sm-6 col-md-4">
              <div class="thumbnail zero-padding">
                <div class="caption">
                  <div class="centerAll">
                    <img src="flowery.jpg" class="user-image"/>
                    <div class="user-details">
                      <div class="user-name">
                        Mark Smith
                      </div>
                      <div class="added-date">
                        12 December, 2017
                      </div>
                    </div>
                    <div class="road-distance">
                      <i class="material-icons">place</i> 250m
                    </div>
                  </div>
                </div>
                <img src="food2.jpg" style="border-color: lightgrey;" />
                <div class="caption">
                  <h3>item name write here for search/ WatchList</h3>
                  <div class="nav-btns">
                    <a href="#" class="btn btn-primary" role="button">View</a>
                    <a href="#" class="btn btn-default" role="button">Request</a>
                    <a href="#" role="button" class="btn-watch"><i class="material-icons">visibility</i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item col-xs-12 col-sm-6 col-md-4">
              <div class="thumbnail zero-padding">
                <div class="caption">
                  <div class="centerAll">
                    <img src="flowery.jpg" class="user-image"/>
                    <div class="user-details">
                      <div class="user-name">
                        Mark Smith
                      </div>
                      <div class="added-date">
                        12 December, 2017
                      </div>
                    </div>
                    <div class="road-distance">
                      <i class="material-icons">place</i> 250m
                    </div>
                  </div>
                </div>
                <img src="food2.jpg" style="border-color: lightgrey;" />
                <div class="caption">
                  <h3>item name write here for search/ WatchList</h3>
                  <div class="nav-btns">
                    <a href="#" class="btn btn-primary" role="button">View</a>
                    <a href="#" class="btn btn-default" role="button">Request</a>
                    <a href="#" role="button" class="btn-watch"><i class="material-icons">visibility</i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item col-xs-12 col-sm-6 col-md-4">
              <div class="thumbnail zero-padding">
                <div class="caption">
                  <div class="centerAll">
                    <img src="flowery.jpg" class="user-image"/>
                    <div class="user-details">
                      <div class="user-name">
                        Mark Smith
                      </div>
                      <div class="added-date">
                        12 December, 2017
                      </div>
                    </div>
                    <div class="road-distance">
                      <i class="material-icons">place</i> 250m
                    </div>
                  </div>
                </div>
                <img src="food2.jpg" style="border-color: lightgrey;" />
                <div class="caption">
                  <h3>item name write here for search/ WatchList</h3>
                  <div class="nav-btns">
                    <a href="#" class="btn btn-primary" role="button">View</a>
                    <a href="#" class="btn btn-default" role="button">Request</a>
                    <a href="#" role="button" class="btn-watch"><i class="material-icons">visibility</i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
  <script src="profile.js"></script>
  <script src="bootstrap-material-design-master/dist/js/ripples.min.js"></script>
  <script src="bootstrap-material-design-master/dist/js/material.min.js"></script>

  <script>
  $(function () {
    $.material.init();
  });
  </script>

</body>
</html>
