<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Main Page | Wastetopia</title>
  <!-- Material Design fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- Bootstrap Material Design -->
  <link href="bootstrap-material-design-master/dist/css/bootstrap-material-design.css" rel="stylesheet">
  <link href="bootstrap-material-design-master/dist/css/ripples.min.css" rel="stylesheet">
  <link href="http://fezvrasta.github.io/snackbarjs/dist/snackbar.min.css" rel="stylesheet">

  <!-- Wastopia Custom CSS -->
  <link rel="stylesheet" href="wastetopia-main.css"/>
  <link href="startbootstrap-simple-sidebar-gh-pages/css/simple-sidebar.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)">Wastetopia</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control col-sm-8" placeholder="Search">
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-envelope"/></a></li>
          <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-shopping-cart"/></a></li>
          <li class="dropdown">
            <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"/><span class="caret"/></a>
            <ul class="dropdown-menu">
              <li><a href="#">View Profile</a></li>
              <li><a href="#">Order History</a></li>
              <li><a href="#">Supplies</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Create the search results window -->
  <div id="main-content">
    <div id="sidebar">
      <ul id="filter-list" role="tablist" aria-multiselectable="true">
        <li role="tab">
          <div class="filter-category" id="type-category">
            Type
            <a role="button" data-toggle="collapse" data-parent="#filter-list" href="#type-options" aria-expanded="true" aria-controls="type-options"><i class="material-icons"></i></a>
          </div>
          <ul class="filter-options collapse in" id="type-options" role="tabpanel" aria-labelledby="type-category">
            <li>
              <div class="form-group zero-padding">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Fruit
                  </label>
                </div>
              </div>
            </li>
            <li>
              <div class="form-group zero-padding">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Vegetable
                  </label>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li role="tab">
          <div class="filter-category" id="dietary-category">
            Dietary Requirement
            <a role="button" data-toggle="collapse" data-parent="#filter-list" href="#dietary-options" aria-expanded="true" aria-controls="dietary-options"><i class="material-icons"></i></a>
          </div>
          <ul class="filter-options collapse in" id="dietary-options" role="tabpanel" aria-labelledby="dietary-category">
            <li>
              <div class="form-group zero-padding">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Vegan
                  </label>
                </div>
              </div>
            </li>
            <li>
              <div class="form-group zero-padding">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Gluten Free
                  </label>
                </div>
              </div>
            </li>
            <li>
              <div class="form-group zero-padding">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Gluten Free
                  </label>
                </div>
              </div>
            </li>
            <li>
              <div class="form-group zero-padding">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Gluten Free
                  </label>
                </div>
              </div>
            </li>
            <li>
              <div class="form-group zero-padding">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Gluten Free
                  </label>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div id="main">
      <button id="filter-btn">Click me</button>
      <div class="grid-body">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 no-padding">
            <div class="itemView">
              <div class="item-background">
                <img src="BUS.jpg"/>
              </div>
              <div class="item-header black-top">
                <ul>
                  <li class="item-name">item name write here</li>
                  <li class="item-summary">subtitle or some sort of small explanation / dietry specification?</li>
                </ul>
              </div>
              <div class="item-nav-btn">
                <button type="button" class="item-btn item-btn-send">
                  <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                  <p class="btn-text" >Request</p>
                </button>
                <button type="button" class="item-btn item-btn-view">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <p class="btn-text" >View</p>
                </button>
              </div>
              <div class="item-footer black-bottom">
                <div class="user-sign">
                  <img src="flowery.jpg" class="user-image"/>
                  <p class="user-name">flower boy</p>
                </div>
                <div class="added-date">
                  date added 12/12/2016
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 no-padding">
            <div class="itemView">
              <div class="item-background">
                <img src="BUS.jpg"/>
              </div>
              <div class="item-header black-top">
                <ul>
                  <li class="item-name">item name write here</li>
                  <li class="item-summary">subtitle or some sort of small explanation / dietry specification?</li>
                </ul>
              </div>
              <div class="item-nav-btn">
                <button type="button" class="item-btn item-btn-send">
                  <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                </button>
                <button type="button" class="item-btn item-btn-view">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
              </div>
              <div class="item-footer black-bottom">
                <div class="user-sign">
                  <img src="flowery.jpg" class="user-image"/>
                  <p class="user-name">flower boy</p>
                </div>
                <div class="added-date">
                  date added 12/12/2016
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 no-padding">
            <div class="itemView">
              <div class="item-background">
                <img src="BUS.jpg"/>
              </div>
              <div class="item-header black-top">
                <ul>
                  <li class="item-name">item name write here</li>
                  <li class="item-summary">subtitle or some sort of small explanation / dietry specification?</li>
                </ul>
              </div>
              <div class="item-nav-btn">
                <button type="button" class="item-btn item-btn-send">
                  <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                </button>
                <button type="button" class="item-btn item-btn-view">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
              </div>
              <div class="item-footer black-bottom">
                <div class="user-sign">
                  <img src="flowery.jpg" class="user-image"/>
                  <p class="user-name">flower boy</p>
                </div>
                <div class="added-date">
                  date added 12/12/2016
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 no-padding">
            <div class="itemView">
              <div class="item-background">
                <img src="flowery.jpg"/>
              </div>
              <div class="item-header black-top">
                <ul>
                  <li class="item-name">item name write here</li>
                  <li class="item-summary">subtitle or some sort of small explanation / dietry specification?</li>
                </ul>
              </div>
              <div class="item-nav-btn">
                <button type="button" class="item-btn item-btn-send">
                  <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                </button>
                <button type="button" class="item-btn item-btn-view">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
              </div>
              <div class="item-footer black-bottom">
                <div class="user-sign">
                  <img src="BUS.jpg" class="user-image"/>
                  <p class="user-name">flower boy</p>
                </div>
                <div class="added-date">
                  date added 12/12/2016
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 no-padding">
            <div class="itemView">
              <div class="item-background">
                <img src="https://eatbelive.files.wordpress.com/2014/02/carrots-bunch.jpg"/>
              </div>
              <div class="item-header black-top">
                <ul>
                  <li class="item-name">item name write here</li>
                  <li class="item-summary">subtitle or some sort of small explanation / dietry specification?</li>
                </ul>
              </div>
              <div class="item-nav-btn">
                <button type="button" class="item-btn item-btn-send">
                  <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                </button>
                <button type="button" class="item-btn item-btn-view">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
              </div>
              <div class="item-footer black-bottom">
                <div class="user-sign">
                  <img src="flowery.jpg" class="user-image"/>
                  <p class="user-name">flower boy</p>
                </div>
                <div class="added-date">
                  date added 12/12/2016
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- to have the fancy effects of material design bootstrap -->  
  <script src="bootstrap-material-design-master/dist/js/ripples.min.js"></script>
  <script src="bootstrap-material-design-master/dist/js/material.min.js"></script>

  <script>
    $(function () {
      $.material.init();
      $("#filter-btn").click(function(e){
        e.preventDefault();
        $("#main-content").toggleClass("toggled");
      });
    });
  </script>

</body>
</html>
