<!DOCTYPE html>
<html style="height: 100vh;">
<head>
  <meta charset="utf-8">
  <title>Main Page | Wastetopia</title>
  <!-- Material Design fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- Bootstrap Material Design -->
  <link href="bootstrap-material-design-master/dist/css/bootstrap-material-design.css" rel="stylesheet">
  <link href="bootstrap-material-design-master/dist/css/ripples.min.css" rel="stylesheet">
  <link href="http://fezvrasta.github.io/snackbarjs/dist/snackbar.min.css" rel="stylesheet">

  <!-- Wastopia Custom CSS -->
  <link rel="stylesheet" href="wastetopia-main.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="height: 100vh;">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)">Wastetopia</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control col-sm-8" placeholder="Search">
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-envelope"/></a></li>
          <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-shopping-cart"/></a></li>
          <li class="dropdown">
            <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"/><span class="caret"/></a>
            <ul class="dropdown-menu">
              <li><a href="#">View Profile</a></li>
              <li><a href="#">Order History</a></li>
              <li><a href="#">Supplies</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Create the search results window -->
  <!-- for using isotope for filtering with checkboxes worth looking at -> https://codepen.io/desandro/pen/JGKyrY -->
  <div class="search-advance" style="padding-top:65px;">
    <div class="btn-group zero-padding" id="filter-dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter
        <span class="caret"></span></button>
        <ul id="filter-list" class="dropdown-menu" role="tablist" aria-multiselectable="true">
          <li role="tab">
            <div class="filter-category" id="radius-category">
              Search Radius
              <a role="button" data-toggle="collapse" data-parent="#filter-list" href="#radius-options" aria-expanded="true" aria-controls="radius-options"><i class="material-icons"></i></a>
            </div>
            <div class="filter-options collapse in" id="radius-options" role="tabpanel" aria-labelledby="dietary-category">
              <div class="container-fluid">
                <div class="slider shor" id="radius"></div>
                <div id="radius-output"></div>
              </div>
            </div>
          </li>
          <li role="tab">
            <div class="filter-category" id="type-category">
              Type
              <a role="button" data-toggle="collapse" data-parent="#filter-list" href="#type-options" aria-expanded="true" aria-controls="type-options"><i class="material-icons"></i></a>
            </div>
            <ul class="filter-options collapse in" id="type-options" role="tabpanel" aria-labelledby="type-category">
              <li>
                <div class="form-group zero-padding">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="Fruit"> Fruit
                    </label>
                  </div>
                </div>
              </li>
              <li>
                <div class="form-group zero-padding">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="Vegetable"> Vegetable
                    </label>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li role="tab">
            <div class="filter-category" id="dietary-category">
              Dietary Requirement
              <a role="button" data-toggle="collapse" data-parent="#filter-list" href="#dietary-options" aria-expanded="true" aria-controls="dietary-options"><i class="material-icons"></i></a>
            </div>
            <ul class="filter-options collapse in" id="dietary-options" role="tabpanel" aria-labelledby="dietary-category">
              <li>
                <div class="form-group zero-padding">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="Vegan" id="5"> Vegan
                    </label>
                  </div>
                </div>
              </li>
              <li>
                <div class="form-group zero-padding">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="Gluten Free"> Gluten Free
                    </label>
                  </div>
                </div>
              </li>
              <li>
                <div class="form-group zero-padding">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="Gluten Free"> Gluten Free
                    </label>
                  </div>
                </div>
              </li>
              <li>
                <div class="form-group zero-padding">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="Gluten Free"> Gluten Free
                    </label>
                  </div>
                </div>
              </li>
              <li>
                <div class="form-group zero-padding">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="Gluten Free"> Gluten Free
                    </label>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="form-group zero-padding" id="sort-select">
        <label for="sort-options">Sort by</label>
        <select id="sort-options" class="form-control">
          <option value="distance">Distance</option>
          <option value="a-z">A-Z</option>
          <option value="z-a">Z-A</option>
          <option value="user-pop">User Popularity</option>
        </select>
      </div>
      <a class="search-view" role="button" data-toggle="tab" href="#map" id="btn-map"><i class="material-icons">map</i></a>
      <a class="search-view hide" role="button" data-toggle="tab" href="#grid" id="btn-grid"><i class="material-icons">view_module</i></a>
    </div>
  </div>
  <div id="filters-picked"></div>
  <div class="tab-content search-result">
    <div id="grid" class="tab-pane fade in active">
    <div class="container-fluid">
      <div class="grid">
        <!-- need this for mosonry layout to work properly with bootstrap grid system -->
        <div class="grid-sizer col-xs-12 col-sm-6 col-md-4"></div>

        <div class="grid-item col-xs-12 col-sm-6 col-md-4">
          <div class="thumbnail zero-padding">
            <div class="caption">
              <div class="centerAll">
                <img src="flowery.jpg" class="user-image"/>
                <div class="user-details">
                  <a class="user-name" href="#">
                    Mark Smith
                  </a>
                  <div class="added-date">
                    12 December, 2017
                  </div>
                </div>
                <div class="road-distance">
                  <i class="material-icons">place</i> 250m
                </div>
              </div>
            </div>
            <img src="food2.jpg" style="border-color: lightgrey;" />
            <div class="caption">
              <h3>Vegetables</h3>
              <div class="trans-info">
                <div><span>Quantity: </span> 5</div>
              </div>
              <div class="nav-btns">
                <a href="#" class="btn btn-primary" role="button">View</a>
                <a href="#" class="btn btn-default" role="button">Request</a>
                <a href="#" role="button" class="btn-watch"><i class="material-icons">visibility</i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="map" class="tab-pane fade">
    <div class="container-fluid">
      <div id="search-map"></div>
      <script src="mapSearch.js"></script>
      <script src="plugins/MarkerClusterer/markerclusterer.js">
         </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrh2cKWRAFifeLIkznE2Iw4Oblqlmyyt0&callback=initMap">
     </script>
    </div>
  </div>
</div>

  <!-- to have the fancy effects of material design bootstrap -->
  <script src="bootstrap-material-design-master/dist/js/ripples.min.js"></script>
  <script src="bootstrap-material-design-master/dist/js/material.min.js"></script>

  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
  <script src="plugins/noUiSlider/noUiSlider.min.js"></script>
  <script src="plugins/wnumb-1.1.0/wNumb.js"></script>

  <script>
  var $grid;
  $(function () {
    $.material.init();

    var radiusSlider = document.getElementById('radius');
    var radiusFormat = wNumb({ decimals: 0, postfix: 'km' })

    noUiSlider.create(radiusSlider, {
      range: {
        'min': 5,
        'max': 50
      },
      connect: [true, false],
      step: 5,
      start: 5
    });

    $('.slider').css({background:'#31353D'})

    var filters = "";
    // filter with selects and checkboxes
    var $checkboxes = $('#filter-list input');

    function getFilters(){
      var radius = radiusFormat.to(parseFloat(radiusSlider.noUiSlider.get()));
      filters = '<span class="label label-primary"> within ' + radius + ' radius </span>'
      $('#radius-output').html('radius: <span>' + radius + '</span>')
      // inclusive filters from checkboxes
      $checkboxes.each( function( i, elem ) {
        // if checkbox, use value if checked
        if ( elem.checked ) {
          filters += '<span class="label label-primary">' + elem.value + '</span>';
        }
      });
      $('#filters-picked').html(filters);
    }

    getFilters();

    radiusSlider.noUiSlider.on('update', function (e) {
      getFilters();
    });

    $grid = $('.grid').isotope({
      itemSelector: '.grid-item',
      percentPosition: true,
      masonry: {
        columnWidth: '.grid-sizer'
      }
    });

    $('#filter-list').on('click', '.filter-category a', function(e){
      $(this).closest('.btn-group').addClass('dontClose');
    })

    $checkboxes.change( function(e) {
      getFilters();
    });

    $('#filter-dropdown').on('hide.bs.dropdown', function(e) {
      if ( $(this).hasClass('dontClose') ){
        e.preventDefault();
        $('#filter-dropdown > button').addClass('white')
      } else {
        $('#filter-dropdown > button').removeClass('white')
      }
      $(this).removeClass('dontClose');
    });

  var itemsNum = 5;

$('#btn-map').on('click', function(event){
  $('#btn-grid').removeClass('hide')
  $('#btn-map').addClass('hide')
})

$('#btn-grid').on('click', function(event){
  $('#btn-map').removeClass('hide')
  $('#btn-grid').addClass('hide')
})

  $(window).scroll(function(){

    var scrollTop = $(window).scrollTop();
    var windowHeight = $(window).height();
    var docuHeight = $(document).height();

    if(scrollTop + windowHeight == docuHeight){

      var card = '<div class="grid-item col-xs-12 col-sm-6 col-md-4">'+
                  '<div class="thumbnail zero-padding">'+
                    '<div class="caption">'+
                      '<div class="centerAll">'+
                        '<img src="flowery.jpg" class="user-image"/>'+
                        '<div class="user-details">'+
                          '<a class="user-name" href="#">'+
                            'Mark Smith'+
                          '</a>'+
                          '<div class="added-date">'+
                            '12 December, 2017'+
                          '</div>'+
                        '</div>'+
                        '<div class="road-distance">'+
                          '<i class="material-icons">place</i> 250m'+
                        '</div>'+
                      '</div>'+
                    '</div>'+
                    '<img src="food2.jpg" style="border-color: lightgrey;" />'+
                    '<div class="caption">'+
                      '<h3>Vegetables</h3>'+
                      '<div class="trans-info">'+
                        '<div><span>Quantity: </span> 5</div>'+
                      '</div>'+
                      '<div class="nav-btns">'+
                        '<a href="#" class="btn btn-primary" role="button">View</a>'+
                        '<a href="#" class="btn btn-default" role="button">Request</a>'+
                        '<a href="#" role="button" class="btn-watch"><i class="material-icons">visibility</i></a>'+
                      '</div>'+
                    '</div>'+
                  '</div>'+
                '</div>';

      var $items = [];

      for (var i = 0; i < 30; i++) {
        $items.push( card );
      }

      // append items to grid
  $grid.append( $items )
    // add and lay out newly appended items
    .isotope( 'appended', $items );

    }

  });
});
  </script>

</body>
</html>
