/* Main page */

#log-reg-row{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#login{
    width: 100%;
    height: 400px;
    background-color: red; 
    padding: 20px;
}

#register{
    width: 100%;
    height: 400px;
    background-color: green;
    padding: 10px;
}

/* registration page */

#register-form{
    width: 75%;
    left: 50%;
    margin-left: -37.5%;
    padding: 100px 30px;
    background-color: white;
    top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
}

@media(min-width:768px) {
    #register-form{
        width: 50%;
        margin-left: -25%;
    }
}

#submit {
    margin: 20px -20px;
}

.terms {
    margin: 0px -15px;
}
/* search page */

/*This is an edited version of the sidebar made by David Miller*/

/* Toggle Styles */

#main-content {
    padding-top: 60px;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#main-content.toggled {
    padding-left: 250px;
}

#sidebar{
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(100,100,100);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#main-content.toggled #sidebar{
    width: 250px;
}

#main {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#main-content.toggled #main {
    position: absolute;
    margin-right: -250px;
}

@media(min-width:768px) {
    #main-content {
        padding-left: 250px;
    }

    #main-content.toggled {
        padding-left: 0;
    }

    #sidebar{
        width: 250px;
    }

    #main-content.toggled #sidebar {
        width: 0;
    }

    #main {
        padding: 20px;
        position: relative;
    }

    #main-content.toggled #main {
        position: relative;
        margin-right: 0;
    }
}

.no-padding {
	padding-right: 1px;
	padding-left: 1px;
}

/* sidebar options styles */
#filter-list {
    width: 100%;
    padding: 0;
}

#filter-list > li {
    width: 100%;
    padding: 0px;
    border-bottom: 1px solid darkgrey;
}

.filter-category {
    font-size: 16px;
    font-weight: bolder;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-category > a.collapsed > i.material-icons:before
{
    content:'expand_more';
    color: white;
}

.filter-category > a > i.material-icons:before
{
    content:'expand_less';
    color: white;
}

.filter-options {
    width: 100%;
    padding: 0;
    overflow-y: scroll;
    max-height: 155px;
    background-color: white;
}

.filter-options > li {
    width: 100%;
    padding: 0 10px;
}

.filter-options label {
    color: black !important;
}

/* items view styles */
.itemView {
    position: relative;
    padding: 0;
    height: 275px;
    width: 100%;
}

.itemView .item-background{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
}

.item-background > img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.itemView .item-header {
    position: absolute;
    top: 0;
    padding: 0;
    width: 100%;
    height: 35%;
}

.itemView .item-header ul{
    padding: 0; 
    margin-top: 10px; 
    margin-left: 5px;
    margin-right: 5px; 
}


.itemView .item-header li{
    line-height: 20px;
    display: block;
}

.itemView .item-header ul .item-name{
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.itemView .item-header ul .item-summary{
    color: white;
}

.itemView .item-footer{
    position: absolute;
    bottom: 0;
    padding: 0;
    width: 100%;
    height: 25%;
    border-bottom: 2px solid white;
}

.itemView .item-footer .user-sign{
    position: absolute;
    bottom: 0;
    left: 2px;
    padding: 0;
}

.user-sign .user-image {
    width: 25px;
    height: 25px;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 5px;
}

.itemView .item-footer .user-sign .user-name {
    margin: 8px 0 0 0;
    color: white;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    display: inline-block;
}

.itemView .item-footer .added-date{
    position: absolute;
    right: 5px;
    bottom: 2px;
    font-size: 12px;
    color: white;
}

.itemView .item-nav-btn{
    height: 100%;
    position: absolute;
    right: 10px;
    top: 25%;
    bottom: 50%;
}

.itemView .item-btn{
    border: 4px solid white;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    display: inline-block;
    width: 60px;
    height: 60px;
    color: white;
}

.item-btn .btn-text{
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.itemView .item-btn-send{
    margin: 0 0 15px 0;
    display: block;
    background-color: rgb(234,46,73);
}

.itemView .item-btn-view{
    background-color: rgb(51,55,69);
}

.black-top{
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
}

.black-bottom{
    background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
}

/* item page */
.item-page-content {
    padding-top: 60px;
}

.carousel-inner .item{
    height: 350px;
    background-color: #1C1D21;
    padding-top: 50px;
}

.carousel-inner .item img {
    width: 250px;
    height: 225px;
    margin: auto;
    overflow: hidden;
    border: 2px solid #D6D6DE;
}

.item-details{
    background-color: white;
    padding: 10px 20px 20px 20px;
}

@media(min-width:768px) {
    .item-details{
        background-color: white;
        height: 350px;
        padding-top: 10px;
        padding-left: 20px;
    }
}

.item-details .item-name{
    font-size: 35px;
    font-weight: 900;
    width: 100%;
    padding-right: 80px;
}

.item-details .item-subTitle{
    font-size: 12px;
    color: #7C8499;
    font-weight: 800;
}

.item-details .item-nav-btn{
    position: absolute;
    top: 10px;
    right: 0;
}

.item-details .item-btn{
    border: 0;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    width: 60px;
    height: 60px;
    color: #709D9E;
    font-weight: bold;
    background-color: transparent;
}

.item-details .item-description{
    padding: 25px 0 0 0;
    color: black;
    font-size: 12px;
    line-height: 25px;
    display: block;
}

.item-details .item-description .info{
    color: #3F424A;
    font-weight: bold;
}

.item-FAQ {
    background-color: #445878;
    height: 350px;
    font-weight: bolder;
    font-size: 50px;
    padding: 20px;
    color: white;
}

.item-FAQ ul{
    padding: 10px;
    background-color: #D6D6DE;
    border-radius: 5px;
}

.item-FAQ li{
    color: white;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    display: block;
}

.item-FAQ li .faq-q{
    margin-left: -20px;
    margin-top: -20px;n
    width: 80px;
    height: 80px;
    border: 3px solid #1C1D21;
    border-radius: 50%;
}

.item-FAQ .tri{
    width: 5%;
    display: inline-block;
}

.item-FAQ li .question{
    padding: 20px;
    width: 75%;
    color: white;
    background-color: #1C1D21;
    border-radius: 50px; 
}

.item-FAQ li .faq-a{
    border-color: #313579;
}

.item-FAQ li .answer{
    color: #313579;
}

.zero-padding{
    padding: 0px;
    margin: 0px;
}

#map {
    height: 300px;
}

.gm-style-iw {
    width: 170px !important;
    height: 150px !important;
    top: 15px !important;
    left: 0 !important;
    background-color: #fff;
    box-shadow: 0 1px 3px black;
}

.iw-container {
    margin-bottom: 10px;
    width: 170px;
    height: 150px;
}

.iw-container .iw-header {
    font-size: 14px;
    padding: 4px;
    background-color: rgb(68,88,120);
    color: white;
    margin: 0; 
    width: 100%;
    height: 28px;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}

.iw-header .user{
    position: relative;
    width: 100%;
    height: 100%;
}

.iw-header .user .user-img {
    position: absolute;
    width: 25%;
    height: 20px;
    display: inline-block;
}

.iw-header .user .user-img img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid white;
}

.iw-header .user-name{
    color: white;
    font-size: 12px;
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 22px;
    font-weight: 600;
}

.iw-header .user .is-offering{
    color: #7EA3DE;
    font-size: 12px;
    font-weight: 600;
}

.iw-container .iw-body {
    height: 122px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.iw-container .iw-body img {
    width: 100%;
    height: 100%;
}

/* item edit page */
.some-padding{
    padding: 5px;
    margin: 0px;
}

.item-imgs-section {
    background-color: #1C1D21;
    margin: 0;
    padding: 5px;
}

.item-details-section {
    background-color: white;
    padding: 10px;
    margin: 0;
}

#item-map-section {
    height: 400px;
}

.item-address-section {
    height: 400px;
    background-color: #445878;
    padding: 10px;
    margin: 0;
}

.item-btns-section {
    height: 70px;
    background-color: white;
    padding: 10px;
    margin: 0;
}

.item-btns-section .btns{
    width: 250px;
    margin: 0 auto;
    padding-left: 8px;
}

.upload-pic {
    padding: 5px;
}

.gridTitle{
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.img-checkbox {
    position: absolute;
    top: 7px;
    left: 11px;
    padding: 0;
    margin: 0;
}

.checkbox .checkbox-material .check,
label.checkbox-inline .checkbox-material .check {
    background-color: white;
    border-color: #31353D;
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check,
label.checkbox-inline input[type=checkbox]:checked + .checkbox-material .check {
  color: white;
  background-color: #31353D;
  border-color: #31353D;
}
.checkbox input[type=checkbox]:checked + .checkbox-material .check:before,
label.checkbox-inline input[type=checkbox]:checked + .checkbox-material .check:before {
  color: white;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 2px solid #31353D !important;
}

.select2-container--default .select2-selection--multiple {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px solid #D2D2D2 !important;
    border-radius: 0 !important;
}

.img-box {
    border: 3px solid white;
    height: 100%;
    display: flex;
    align-items: center;
}

.img-box > i {
    color: white;
    font-size: 60px;
    margin: 0 auto;
    display: flex;
}

.upload-pic img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 3px solid white;
}

.item-imgs-section .options {
    display: flex;
    justify-content: flex-end;
    padding: 2px 0;
}

.btn-delete {
    border: none;
    font-size: 20px;
    background-color: transparent;
    color: white;
}

/* profile page styles */
#my-navbar {
    border-radius: 0;
}

#profileHead{
    background-color: white;
    margin-top:-20px;
    margin-bottom: 0px; 
    border-radius: 0;
}

#profileBody{
    background-color: gray;
    padding-top: 20px;
    margin-top: 0px; 
    margin-bottom: 0px; 
}

.profileInfo {
    position: relative;
    min-height: 100px;
    height: 200px;
}

.profileInfo .userimage {
    position: absolute;
    bottom: 0;
}

.userimage img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid black;
    margin: 5px;
}

.profileInfo ul {
    position: absolute;
    bottom: 0;
}

.profileInfo li {
    color: black;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    display: block;
}

/* Messaging */
/* Conversation page */
.row .row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.coversation-frame{
    height: 100%;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 110px;
    position: relative;
}

.item-frame {
    height: 100%;
    width: 100%;
    background-color: white;
    padding-top: 60px;
    border-left: 3px solid white;
}


#conversation-header{
    width: 100%;
    position: absolute;
    top: 60px;
    padding: 10px;
    background-color: #2658BC;
    border-bottom: 2px solid #31353D;
}

.centerAll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.btn-nav {
    display: flex;
}

.user {
    display: flex;
    justify-content: center;
}

.user .user-image {
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid white;
}

.user .user-name {
    margin-left: 5px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    display: inline;
}

#message-location {
    overflow-y: scroll;
    height: 100%;
}

.sender{
    width: 75%;
    padding: 10px;
}

.reciever {
    padding: 10px;
    width: 75%;
    margin-left: auto;
}

.content {
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.reciever .content {
    background-color: #2658BC;
    color: white;
}

.time-stamp {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    color: grey;
}

#message-form {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #31353D;
}
.message-div {
    padding: 20px 0px 20px 20px;
}

#message {
    width: 100%;
    height: 100%;
}

.btn-div {
    padding-top: 20px;
}

.btn-send-message {
    display: block;
    margin: 0px auto;
}

.btn-view{
    display: block;
    margin: auto;
}

.default-pic {
    width: 100%;
    padding: 40px 30px;
    background-color: black;
}

.item-pic{
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 5px;
}

.basic-info {
    padding: 10px;
}

.basic-info .description {
    padding: 5px 0;
}

.basic-info .item-name {
    font-weight: bold;
    font-size: 24px;
    padding: 10px 0;
}

.basic-info .info {
    font-weight: bold;
    color: #31353D;
}

.page-height{
    height: 100vh;
}

.goToView{
    padding: 20px 0;
}

/* conversation listing page */
/* general style */
.title {
    padding: 80px 20px 10px 20px;
    background-color: transparent;
    font-size: 30px;
    color: #1C1D21;
    font-weight: bold;
}

.nav-tabs > li.active,
.nav-tabs > li.active:hover,
.nav-tabs > li.active:focus{
    background-color: #2658BC;  
} 

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    color: white !important; 
} 

.nav-tabs > li,
.nav-tabs > li:hover,
.nav-tabs > li:focus{
    background-color: white;  
} 

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus{
    color: black !important; 
} 

.tab-content {
    flex:1;
    background-color: #2658BC;
    padding-top: 2px; 
    overflow: scroll;
}

/* list style */
.conversation-list .user-image{
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid white;
}

.conversation {
    padding: 10px;
    border-bottom: 2px solid #2658BC;
    background-color: rgba(0,0,0,0.3);
}

.conv-user {
    margin-left: 10px;
    margin-right: auto;
}

.conv-user .user-name {
    font-size: 20px;
    font-weight: bold;
}

.conv-user .item {
    font-weight: bold;
}

.conversation .btn-nav {
    margin-left: 10px;
    margin-right: 0;
    background-color: transparent;
    border: none;
    padding: 0;
}

.conversation .btn-nav i {
    font-size: 30px;
    color: white;
}

.conversation #chatBtn {
    text-decoration: none;
}

.conversation .badge {
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: white;
    color: #2658BC;
    border-radius: 10px;
}

.noMessage {
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

/* item card view designs */
/* using bootstrap thumbnail */
.user-image {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.user-details {
    margin-left: 10px;
    margin-right: auto;
}

.user-name {
    font-size: 16px;
    font-weight: bolder;
}

.popularity {
    font-size: 16px;
    color: grey;
    font-weight: bolder;
    display: inline-flex;
    align-items: center;
    margin: 2px 0;
}

.popularity i {
    align-self: flex-start;
    font-size: 20px;
    color: grey;
}

.added-date{
    font-size: 12px;
    color: grey;
}

.road-distance {
    align-self: flex-start;
    color: grey;
    display: flex;
    align-items: center;
}

.road-distance i {
    font-size: 18px;
    color: lightgrey;
}
