{% extends 'header.twig' %}

{% block title %}
    Messages | Wastetopia
{% endblock %}

{% block navbar %}
    {% include 'navbar.twig' %}
{% endblock %}

{% block content %}
<div class="page-padding">
  <div class="title" style="padding: 10px 20px;">
    Messages
  </div>

  <ul class="nav nav-pills request-options">
    <li class="active"><a data-toggle="tab" href="#giving-tab">Giving</a></li>
    <li><a data-toggle="tab" href="#recieving-tab">Recieving</a></li>
  </ul>

  <div class="tab-content">
    <div id="giving-tab" class="tab-pane fade in active">
      {{givingList|raw}}
    </div>
    <div id="receiving-tab" class="tab-pane fade">
      {{receivingList|raw}}
    </div>
  </div>
</div>
{% endblock %}

{% set jslist = ["plugins/imagesloaded/imagesloaded.pkgd.min.js","plugins/isotope/isotope.pkgd.js","ConversationListPage.js"] %}
