{% extends 'header.twig' %}

{% block title %}
    Your page title goes here! Please only put plain text here
{% endblock %}

{% block navbar %}
    {% include 'navbar.twig' %}
{% endblock %}

{% block content %}
        <div class="title">
        Messages
    </div>

    <ul class="nav nav-justified zero-padding nav-tabs">
        <li class="active"><a data-toggle="tab" href="#giving-tab">Giving</a></li>
        <li><a data-toggle="tab" href="#recieving-tab">Recieving</a></li>
    </ul>
    <div class="tab-content">
        <div id="giving-tab" class="tab-pane fade in active">
            {{givingList|raw}}
        </div>
        <div id="receiving-tab" class="tab-pane fade">
            {{receivingList|raw}}
        </div>
    </div>
{% endblock %}

{% set jslist = ["ConversationListPage.js"] %}

