{% extends 'header.twig' %}

{% block title %}
    Analysis | Wastetopia
{% endblock %}

{% block navbar %}
    <style>
        body {
            height: 100vh;
            margin-top: 60px;
        }
    </style>
    {% include 'navbar.twig' %}
{% endblock %}

{% block content %}
    <div id="charts">
        <div id = "requestChartsParent" width="20" height="20">
            <canvas id="requestTagsChart"></canvas>
        </div>
        <form id = "requestRadioButtons">
            <label class="radio-inline">
                <input type="radio" name="requestOption" >Option 1
            </label>
            <label class="radio-inline">
                <input type="radio" name="requestOption" >Option 2
            </label>
        </form>
    </div>
{% endblock %}

{% set csslist = [] %}
{% set jslist = ["AnalysisCharts.js"] %}
