{% extends 'header.twig' %}

{% block title %}
    Analysis | Wastetopia
{% endblock %}

{% block navbar %}
    <style>
        body {
            height: 100vh;
            margin-top: 60px;
        }
    </style>
    {% include 'navbar.twig' %}
{% endblock %}

{% block content %}
    <div id="charts" width="20" height="20">
        <div id = "requestChartsParent">
            <label for = "requestTagsChart">
                Frequencies of Tags for Requests<br />
            <canvas id="requestTagsChart"></canvas>
            </label>
        </div>
    </div>
{% endblock %}

{% set csslist = [] %}
{% set jslist = ["AnalysisCharts.js"] %}
