{% extends 'header.twig' %}

{% block title %}
    Analysis | Wastetopia
{% endblock %}

{% block navbar %}
    <style>
        body {
            height: 100vh;
            margin-top: 60px;
        }

        .chart-container{
            width : 320px;
            height : auto;

        }

        .center-elements{
            display: flex;
            justify-content: center;
        }

    </style>
    {% include 'navbar.twig' %}
{% endblock %}

{% block content %}

    <div id="charts" height="300px" class = "row">
        <div id = "request-chart" class = "col-xs-6">
            <div class="center-elements">
                <div class = "chart-container" id = "request-chart-container">
                    <canvas id="requestTagsChart"></canvas>
                </div>
            </div>
            <div class="center-elements">
                <form id = "requestRadioButtons">
                </form>
            </div>
        </div>


        <div id = "sending-chart" class = "col-xs-6">
            <div class="center-elements">
                <div class = "chart-container" id = "sending-chart-container">
                    <canvas id="sendingTagsChart"></canvas>
                </div>
            </div>
            <div class="center-elements">
                <form id = "sendingRadioButtons">
                </form>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div id="name-frequencies" class = "row">
        <div id = "frequenciesReceiving" class = "col-xs-6 center-elements">
            <p>
                A list of the top 5 names of items you receive
            </p>
        </div>
        <div id = "frequenciesSending" class = "col-xs-6 center-elements">
            <p>
                A list of the top 5 names of items you give away
            </p>
        </div>
    </div>
{% endblock %}

{% set csslist = [] %}
{% set jslist = ["AnalysisCharts.js"] %}
