{% extends 'header.twig' %}

{% block title %}
    Analysis | Wastetopia
{% endblock %}

{% block navbar %}
    <style>
        body {
            height: 100vh;
            margin-top: 60px;
        }

        .chart-container{
            width : 320px;
            height : auto;
        }
    </style>
    {% include 'navbar.twig' %}
{% endblock %}

{% block content %}
    <div id="charts" height="300px">
        <div class = "chart-container" id = "request-chart-container">
            <canvas id="requestTagsChart"></canvas>
        </div>
        <form id = "requestRadioButtons">

        </form>

        <br>
        <br>


        <div class = "chart-container" id = "sending-chart-container">
            <canvas id="sendingTagsChart"></canvas>
        </div>
        <form id = "sendingRadioButtons">

        </form>
    </div>
{% endblock %}

{% set csslist = [] %}
{% set jslist = ["AnalysisCharts.js"] %}
