{% extends 'header.twig' %}

{% block title %}
    Analysis | Wastetopia
{% endblock %}

{% block navbar %}
    {% include 'navbar.twig' %}
{% endblock %}

{% block content %}
    <div id="charts">
        <canvas id="requestTagsChart" width="100" height="100"></canvas>
    </div>
{% endblock %}

{% set csslist = [] %}
{% set jslist = ["AnalysisCharts.js"] %}
