{% extends 'header.twig' %}

{% block title %}
    Analysis | Wastetopia
{% endblock %}

{% block navbar %}
    <style>
        body {
            height: 100vh;
            margin-top: 60px;
        }

        .chart-container{
            width : 320px;
            height : auto;

        }

        .center-elements{
            display: flex;
            justify-content: center;
        }

        form{
            display: inline-flex;
            justify-content: center;
        }

        .input-group{
            margin: 5px;
        }

        .list-group{
            width: 80%;
        }

    </style>
    {% include 'navbar.twig' %}
{% endblock %}

{% block content %}

    <div id="charts" height="300px" class = "row">
        <div id = "request-chart" class = "col-xs-6">
            <div class="center-elements">
                <div class = "chart-container" id = "request-chart-container">
                    <canvas id="requestTagsChart"></canvas>
                </div>
            </div>
            <div class="center-elements">
                <form id = "requestRadioButtons">
                </form>
            </div>
        </div>


        <div id = "sending-chart" class = "col-xs-6">
            <div class="center-elements">
                <div class = "chart-container" id = "sending-chart-container">
                    <canvas id="sendingTagsChart"></canvas>
                </div>
            </div>
            <div class="center-elements">
                <form id = "sendingRadioButtons">
                </form>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div id="name-frequencies" class = "row">
        <div id = "frequenciesReceiving" class = "col-xs-6">
            <div class = "center-elements">
                <h4>
                    A list of the top 5 names of items you receive
                </h4>
            </div>
            <div >
                {% if receivingNames|length > 0 %}
                    <ul class = "list-group">
                        {% for name in receivingNames %}
                            <li class="list-group-item">{{ name.name }}  <span class="badge">{{ name.frequency }}</span></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>
                       Not enough data, sorry!
                    </p>
                {% endif %}
            </div>
        </div>
        <div id = "frequenciesSending" class = "col-xs-6">
            <div class = "center-elements">
                <h4>
                    A list of the top 5 names of items you send
                </h4>
            </div>
            <div>
                {% if sendingNames|length > 0 %}
                    <ul class = "list-group">
                        {% for name in sendingNames %}
                            <li class="list-group-item">{{ name.name }} <span class="badge">{{ name.frequency }}</span></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>
                        Not enough data, sorry!
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% set csslist = [] %}
{% set jslist = ["AnalysisCharts.js"] %}
