{% extends 'header.twig' %}

{% block title %}
    Analysis | Wastetopia
{% endblock %}

{% block navbar %}
    <style>
        body {
            height: 100vh;
            margin-top: 60px;
        }
    </style>
    {% include 'navbar.twig' %}
{% endblock %}

{% block content %}
    <div id="charts" height="300px">
        <div id = "requestChartsParent">
            <canvas id="requestTagsChart" width="300" height="300"></canvas>
        </div>
        <form id = "requestRadioButtons">

        </form>

        <br>
        <br>

        <div id = "sendingChartsParent" width="30%">
            <canvas id="sendingTagsChart" width="300" height="300"></canvas>
        </div>
        <form id = "sendingRadioButtons">

        </form>
    </div>
{% endblock %}

{% set csslist = [] %}
{% set jslist = ["AnalysisCharts.js"] %}
