{% extends 'header.twig' %}

{% block title %}
    Analysis | Wastetopia
{% endblock %}

{% block navbar %}
    <style>
        body {
            height: 100vh;
            margin-top: 60px;
        }

        .chart-container{
            width : 320px;
            height : auto;
        }

        
        #sending-chart-container{
            float:left;
        }


    </style>
    {% include 'navbar.twig' %}
{% endblock %}

{% block content %}
    <div id="charts" height="300px">
        <div id = "request-chart">
            <div class = "chart-container" id = "request-chart-container">
                <canvas id="requestTagsChart"></canvas>
            </div>
            <form id = "requestRadioButtons">

            </form>
        </div>


        <div id = "sending-chart">
            <div class = "chart-container" id = "sending-chart-container">
                <canvas id="sendingTagsChart"></canvas>
            </div>
            <form id = "sendingRadioButtons">
            </form>
        </div>
    </div>

    <div id="name-frequencies">
        <div id = "frequenciesReceiving">
            <p>
                A list of the top 5 names of items you receive
            </p>
        </div>
        <br>
        <div id = "frequenciesSending">
            <p>
                A list of the top 5 names of items you give away
            </p>
        </div>
    </div>
{% endblock %}

{% set csslist = [] %}
{% set jslist = ["AnalysisCharts.js"] %}
