<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

<div id="analysis" class="tab-pane fade">
    <div class="header">
        <div class="title">
            <a role="button" data-toggle="tab" href="#home"><i class="material-icons">chevron_left</i></a>
            Analysis
        </div>
    </div>
    <div class="tab-content zero-padding" style="padding-top:10px; background-color:transparent;">
        <div id="analysis-section" class="tab-pane fade in active">
            <div class="container-fluid">

                <div id="charts" height="300px" class = "row">
                    <div id = "request-chart" class = "col-xs-6">
                        <div class="center-elements"> <h3>Tags on items received </h3></div>
                        <div class="center-elements">
                            <div class = "chart-container" id = "request-chart-container">
                                <canvas id="requestTagsChart"></canvas>
                            </div>
                        </div>
                        <div class="center-elements">
                            <form id = "requestRadioButtons">
                            </form>
                        </div>
                    </div>

                    <!--Start of analysis HTML-->
                    <div id = "sending-chart" class = "col-xs-6">
                        <div class="center-elements"> <h3> Tags on items sent </h3> </div>
                        <div class="center-elements">
                            <div class = "chart-container" id = "sending-chart-container">
                                <canvas id="sendingTagsChart"></canvas>
                            </div>
                        </div>
                        <div class="center-elements">
                            <form id = "sendingRadioButtons">
                            </form>
                        </div>
                    </div>
                </div>

                <br>
                <br>

                <div id="name-frequencies" class = "row">
                    <div id = "frequenciesReceiving" class = "col-xs-6">
                        <div class = "center-elements">
                            <h4>
                                Top 5 items you receive
                            </h4>
                        </div>
                        <div >
                        <div class = "center-elements">
                            {% if receivingNames|length > 0 %}
                                
                                    <ul class = "list-group">
                                        {% for name in receivingNames %}
                                            <li class="list-group-item">{{ name.name }}  <span class="badge">{{ name.frequency }}</span></li>
                                        {% endfor %}
                                    </ul>           
                            {% else %}
                                <p>
                                    Not enough data, sorry!
                                </p>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <div id = "frequenciesSending" class = "col-xs-6">
                        <div class = "center-elements">
                            <h4>
                                Top 5 items you give away
                            </h4>
                        </div>
                        <div>
                        <div class = "center-elements">
                            {% if sendingNames|length > 0 %}
                                
                                    <ul class = "list-group">
                                        {% for name in sendingNames %}
                                            <li class="list-group-item">{{ name.name }} <span class="badge">{{ name.frequency }}</span></li>
                                        {% endfor %}
                                    </ul>
                                
                            {% else %}
                                <p>
                                    Not enough data, sorry!
                                </p>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
				<div id="secondCharts" height="300px" class = "row">
                    <div id = "request-chart" class = "col-xs-6">
                        <div class="center-elements"> <h3>Items send in the last 4 months </h3></div>
                        <canvas id = "sendItems"></canvas>
                    </div>

                    <!--Start of analysis HTML-->
                    <div id = "sending-chart" class = "col-xs-6">
                        <div class="center-elements"> <h3>Items recieved in the last 4 months </h3> </div>
                        <canvas id = "receiveItems"></canvas>
                    </div>
                </div>
				
                <!--End of analysis HTML-->

            </div>
        </div>
    </div>
</div>
<script>
$(function() {
	var data = {
		labels : ["Month1","Month2","Month3","Month4"],
		datasets :[
			{
				label : "Your Contributions",
				fillColor :"rgba(255, 51, 204,0.75)",
				strokeColor :"rgba(23,12,102,0.75)",
				pointColor: "rgba(1,200,200,1)",
				pointStrokeColor : "#fff",
				pointHighLightFill: "#fff",
				pointHighLightStroke: "rgba(200,200,200,1)",
				data: [23,34,13,1]
			},
			{
				label : "# of items taken",
				fillColor :'rgba(0, 255, 255,0.75)',
				strokeColor :'rgba(23,12,102,0.75)',
				pointColor: 'rgba(200,2,200,1)',
				pointStrokeColor : '#fff',
				pointHighLightFill: '#fff',
				pointHighLightStroke: 'rgba(200,200,200,1)',
				data: [3,3,40,6]
			}
		]
	};
	var option  = {};
	
	var ctx = document.getElementById("sendItems").getContext("2d");
	var linechart = new Chart(ctx).Line(data,option);
});
</script>




