{% extends 'header.twig' %}

{% block title %}
Register | Wastetopia
{% endblock %}

{% block navbar %}
{% include 'navbar.twig' %}
{% endblock %}

{% block content %}
<div class="page-padding">
  <div class="container-fluid">
    <div class="jumbotron">
      <div id="register-form" class="register-form">
        <h1>
          Join our community!
        </h1>
        <div id="errorMessage">
        </div>
        <form>
          <div class="register-form">
            <div class="form-group col-xs-12">
              <label class="control-label" for="firstName">First Name</label>
              <input required type="text" class="form-control" id="firstName">
            </div>
            <div class="form-group col-xs-12">
              <label class="control-label" for="lastName">Last Name</label>
              <input required type="text" class="form-control" id="lastName">
            </div>
            <div class="form-group col-xs-12">
              <label class="control-label" for="focusedInput2">Set a password</label>
              <input required type="password" class="form-control" id="pwd" minlength="8">
              <p class="help-block">minimum 8 characters</p>
            </div>
            <div class="form-group col-xs-12">
              <label class="control-label" for="pwdConfirm">Confirm password</label>
              <input required type="password" class="form-control" id="pwdConfirm">
            </div>
            <div class="form-group col-xs-12">
              <label class="control-label" for="email">Email</label>
              <input required type="email" class="form-control" id="email">
            </div>
            <a href = "#" class="terms col-xs-12">Terms and conditions</a>
            <div class = "checkbox terms col-xs-12">
              <label><input required type = "checkbox" value = "" id="termsAndConditions"> Accept terms and conditions</label>
            </div>
            <div class="col-xs-12">
              <button type = "submit" class = "btn btn-default active" id="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% set jslist = ["Registration.js"] %}
