{% extends 'header.twig' %}

{% block title %}
Register - Wastetopia
{% endblock %}

{% block navbar %}
{% include 'navbar.twig' %}
{% endblock %}

{% block content %}
<div id="register-form">
  <div class="container-fluid">

    <h1>
      Join our community!
    </h1>
    <div id="errorMessage">
    </div>

    <form class="form-horizontal">
      <div class="form-group label-floating">
        <label class="control-label" for="firstName">First Name</label>
        <input required type="text" class="form-control" id="firstName">
      </div>
      <div class="form-group label-floating">
        <label class="control-label" for="lastName">Last Name</label>
        <input required type="text" class="form-control" id="lastName">
      </div>
      <div class="form-group label-floating">
        <label class="control-label" for="focusedInput2">Set a password</label>
        <input required type="password" class="form-control" id="pwd" minlength="8">
        <p class="help-block">minimum 8 characters</p>
      </div>
      <div class="form-group label-floating">
        <label class="control-label" for="pwdConfirm">Confirm password</label>
        <input required type="password" class="form-control" id="pwdConfirm">
      </div>
      <div class="form-group label-floating">
        <label class="control-label" for="email">Email</label>
        <input required type="email" class="form-control" id="email">
      </div>
      <a href = "#" class="terms">Terms and conditions</a>
      <div class = "checkbox terms">
        <label><input required type = "checkbox" value = "" id="termsAndConditions"> Accept terms and conditions</label>
      </div>
      <button type = "submit" class = "btn btn-default active" id="submit">Submit</button>
    </form>
  </div>
</div>
{% endblock %}


{% set jslist = ["Registration.js"] %}
