{% extends 'header.twig' %}

{% block title %}
    Example Image Upload
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <style>
        form {
            padding: 60px;
        }
    </style>
    <form action="/test/upload_files" method="post">
        <div class="form-group">
            <input class="form-control" type="file" id="uploaded_file" name="uploaded_file">
            <button class="btn btn-primary" type="submit">Upload</button>
        </div>
    </form>
{% endblock %}

{% set jslist = [] %}