{% extends 'header.twig' %}

{% block title %}
{{ title }}
{% endblock %}

{% block navbar %}
{% include 'navbar.twig' %}
{% endblock %}

{% block content %}

<div class="grid-body" style="padding-top: 50px;">
    <div class="row" style="width: 100%; padding: 0px; margin: 0;">

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-padding">
            <div id="login">
                <div class="container-fluid" method="post" action="login.php">
                    <h1>{{title}}</h1>
                    <p>{{intro}}</p>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label">Username</label>
                            <input type="email" class="form-control" id="email" placeholder="user@example.com" name="email">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                        </div>
                        <div class="control-group">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-padding">
            <div id="register">
                <div class="container-fluid">
                    <h1>Not a member yet?</h1>
                    <p>
                        Blah blah blah a tiny blob about the vision/goal of this project/website/application
                    </p>
                    <a href="registrationForm.html">Register Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}