{% extends 'header.twig' %}

{% block title %}
	Conversations | Wastetopia
{% endblock %}

{% block navbar %}
	<style>
		body {
			height: 100%;
			margin: 0;
		}
	</style>
    {% include 'navbar.twig' %}
{% endblock %}

{% block content %}
	<div class="title">
		Messages
	</div>

	<ul class="nav nav-justified zero-padding nav-tabs">
		<li class="active"><a data-toggle="tab" href="#giving-tab">Giving</a></li>
		<li><a data-toggle="tab" href="#recieving-tab">Receiving</a></li>
	</ul>
	<div class="tab-content">
		<div id="giving-tab" class="tab-pane fade in active">
            {{givingList|raw}}
		</div>
		<div id="recieving-tab" class="tab-pane fade">
            {{receivingList|raw}}
		</div>
	</div>
{% endblock %}

{% set jslist = ["ConversationListPage.js"] %}
